body{
    background-color: deepskyblue;
}
.api-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.api{
    border: 1px solid black;
    width: 400px;
    height: 300px;
    margin: 10px 10px;
    background-color:darkblue;
}
img{
    width: 100px;
}